@keyframes movingGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/*animation: apparition 2s  alternate ease-in-out;*/
@keyframes apparition {
    0% {opacity: 0;}
    50% {opacity: 0.8;}
    100% {opacity: 1;}

}
/*background: linear-gradient(90deg, #ffffff, #a6cdf8, #e3ecff);*/
/*background-size: 300% 300%;*/
/*animation: movingGradient 10s infinite alternate ease-in-out;*/
/*backdrop-filter: blur(10px);*/


/*animation: tourner 2s ease-in-out forwards;*/
@keyframes tourner {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes apparitionWelcome {
    0% { opacity: 0;}
    50% { opacity: 0.8;}
    100% { opacity: 1;}
}
@keyframes apparitionTo {
    0% { opacity: 0;}
    50% { opacity: 0;}
    70% { opacity: 0.5;}
    100% { opacity: 1;}
}

@keyframes apparitionToLeft {

    0% { opacity: 0;}
    50% { opacity: 0;}
    60% { opacity: 0;}
    80% { opacity: 0;}
    90% { opacity: 0.5;}
    100% { opacity: 1;}

}
