body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.titreContact {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

.formContact {
    width: 800px;
    max-width: 90%; /* Pour s'adapter aux petits écrans */
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

.inputUser {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.inputUser::placeholder {
    color: #999;
}

#contactForm textarea {
    height: 150px;
    resize: none;
}

#contactForm button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background 0.3s ease;
    margin: 10px;
    cursor: pointer;
}

#contactForm button:hover {
    background: #0056b3;
}

#pieceJointe {
    border: none;
    background: #f8f8f8;
    padding: 8px;
    margin: 10px;
}

/* --- Responsive --- */

/* PC Portable (1100px à 1400px) */
@media (min-width: 1100px) and (max-width: 1400px) {
    .formContact {
        width: 700px;
    }
}

/* Tablette (780px à 1100px) */
@media (min-width: 780px) and (max-width: 1099px) {
    .sidenav{
        display: none;
    }
    .formContact {
        width: 90%;
        padding: 15px;
    }

    .titreContact {
        font-size: 22px;
    }

    .inputUser {
        font-size: 14px;
    }

    #contactForm button {
        font-size: 16px;
    }
}

/* Téléphone (moins de 780px) */
@media screen and (max-width: 780px) {
    .sidenav{
        display: none;
    }
    .titreContact {
        font-size: 20px;
        margin-top: 80px;
    }

    .formContact {
        width: 95%;
        margin: 20px auto;
        padding: 15px;
    }

    .inputUser {
        font-size: 14px;
        padding: 8px;
    }

    #contactForm textarea {
        height: 120px;
    }

    #contactForm button {
        font-size: 16px;
        padding: 8px;
    }

}
