@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "annimation.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    background: linear-gradient(90deg, #ffffff, #a6cdf8, #e3ecff);
    background-size: 300% 300%;
    animation: movingGradient 10s infinite alternate ease-in-out;
    backdrop-filter: blur(10px);
}

.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

}
.titre h1{
    color: black;
    font-size: 4em;
    font-family: "Arvo", serif;
    padding-bottom: 50px;
}

.titre .input-Groupe-Name{
    width: 60%;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    background-color: #e8e8e8;
    border:none;
    text-decoration: none;
    outline: none;
}
.form-name-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.form-name-group button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(27, 111, 211);
    color: white;
    width: 80px;
    height: 60px;

}
.form-name-group button .fa-regular{
    font-size: 25px;
}

.form-name-group button:active{
    background-color: rgb(52, 132, 227);
}
