@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "annimation.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: #ffffff;
}

.column{
    float: left;
}
.left{
    width: 25%;
}

.right{
    width: 80%;
    height: 100vh;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
}
.title a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    font-size: 2em;
    transition: 0.5s all ease-in-out;
}
.title a:hover{
    transform: rotate(-360deg);
}


#divMembreGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100vh;
    background: rgb(27, 111, 211);
}

#divMembreGroup h2{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    margin: 10px;
    font-size: 2.2em;
}

#listeMembreGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.separate{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
}
.separate h3{
    font-size: 1.6em;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
#divButton{
    display: flex;

}

.boutonAjouterMembre{
    font-size: 25px;
    height: 75px;
    width: 250px;
}


.block_user{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 70px;
    background-color: white;
    width: 100%;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
}
#divMembreGroup .block_user h3{
    font-size: 1.6em;
    color: black;
}



.navbar{
    background: rgb(27, 111, 211);
    display:flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.onglets{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    gap: 20px;
}
.onglets a{
    font-size: 1.4em;
    padding: 10px 20px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    height: 50px ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 0.5s all;

}
.onglets a:hover{
    background-color: #0d6efd;
    color: white;
}
