@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "annimation.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #f4f5ff;
}
.profil{
    display: flex;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 100;
}
.round{
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: #d7d7d7;
    border-radius: 50%;
}
.round img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.no-co{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 4;
}
.no-co a{
    padding: 10px 20px 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: "Arvo", serif;
}
.no-co #jaune{
    background-color: rgba(27, 111, 211, 0.91);

}
.gif{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card button{
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(27, 111, 211, 0.91);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: "Arvo", serif;
    transition: .2s all ease-in-out;
    cursor: pointer;
}
.card button:hover{
    background-color: rgba(78, 154, 246, 0.91);
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 40px;
    color: black;
    font-family: "Arvo", serif;
}
h1 span, h3 span{
    color: rgba(27, 111, 211, 0.91);
}
#titre{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
    animation: apparition 3s  alternate ease-in-out;


}
#titre h1{
    margin-top: 50px;
    font-size: 5em;
    color: black;
    font-family: "Arvo", serif;
}
#titre h3{
    font-size: 2em;
}
#titre h2{
    visibility: hidden;
}
#blockButton {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

#blockButton h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 350px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 30px rgba(0, 0, 0, 0.06);
    background-color: rgba(27, 111, 211, 0.91);
    border-radius: 10px;
    transition: .2s all ease-in-out;
    text-decoration: none;
    color: black;
    font-size: 1em;
}
.button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.2em;
    font-family: "Arvo", serif;
}
.jaune{
    background-color: rgba(78, 154, 246, 0.91);

}
.jaune a{
    color: black;
}
.img-block{
    width: 100%;
    height: 100px;
}
.img-block img{
    width: 100%;
    height: 100%;
}
.button:hover{
    background-color: rgba(78, 154, 246, 0.91);

}
#mainButton{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
}


.partie-pres{
    display: flex;
    align-items: center;
    height: 100vh;
}
#presentation{
    background-color: white;
    width: 70%;
    padding: 20px;
    margin-left: 150px;
    z-index: 2;
    box-shadow: 120px -50px rgba(27, 111, 211, 0.91);
}

#presentation h2{
    font-family: "Arvo", serif;
}
#textePrez{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 97%;
    font-size: 25px;
    line-height: 1.6;
    margin: 10px;
    font-family: "Arvo", serif;
}

#blockAbonnement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
#blockAbonnement h2{
    font-size: 3em;
    font-family: "Arvo", serif;
}
#listeAbonnement{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.82);
    padding: 20px;
    margin-top: 70px;
}
.texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;

}
#abo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    padding: 20px;
    background-color: #f4f5ff;
}
#abo h3{
    padding: 10px;
    font-size: 2em;
    color: black;
    font-family: "Arvo", serif;
}
#abo .prix{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arvo", serif;
    padding: 10px;
    font-size: 2em;
    color: rgba(27, 111, 211, 0.91);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
    background-color: white;
}
.popular {
    border: 5px solid red;
    position: relative;
}

.popular h4 {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 1.2em;
    font-family: "Arvo", serif;
    background-color: red;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.texte ul{

    padding: 10px;
    height: 100%;
    font-size: 1.2em;
    color: black;
    font-family: "Arvo", serif;
    list-style: none;
    margin-top: 10px;
}
.texte ul li{
    padding: 10px;
}
.texte ul li i{
    color: #00ff00;
}
#no{
    color: gray;
}
.abonnementPanier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.abonnementPanier button{
    background-color: rgba(27, 111, 211, 0.91);
    border: none;
    outline: none;
    color: #ffffff;
    gap: 10px;
    font-size: 1.5em;
    font-family: "Arvo", serif;
    padding: 20px 40px 20px 40px;
    width: 100%;
    transition: .2s all ease-in-out;
}
.abonnementPanier a{
    background-color: rgba(27, 111, 211, 0.91);
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5em;
    font-family: "Arvo", serif;
    padding: 20px 40px 20px 40px;
    width: 100%;
    transition: .2s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.abonnementPanier a:hover{

    background-color: rgba(99, 170, 255, 0.91);
    color: #ffffff;
}

.seed{
    opacity: 0.5;
}
.tel{
    display: none;
}


/* Style du logo */
#loader-logo {
    width: 150px; /* Ajuste la taille selon ton logo */
    opacity: 1;
    transition: opacity 1s ease-out;
    animation: tourner 2s ease-in-out forwards; /* Ajout de la durée et de l'effet */
}

/* Loader en plein écran */
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-out;
}
#loader h1{
    font-size: 5em;
    color: #0dcaf0;
}

/* Contenu caché au début */
#content {
    display: none;
}



/* ----- Responsive Design ----- */
@media screen and (max-width: 1300px) {

    .container{
        display: none;
    }
    .tel{
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    .img-force img{
        width: 100%;

    }

}




/*#ordi{*/
/*    display: none;*/
/*}*/
/* .no-co{*/
/*     margin-top: 20px;*/
/* }*/
/* .no-co a{*/
/*     font-size: 1em;*/
/* }*/
/*#titre{*/
/*    height: 20vh;*/
/*}*/
/*#titre h1{*/
/*   display: none;*/
/*}*/
/*#titre h2{*/
/*    visibility: visible;*/
/*    color: #0d6efd;*/
/*    font-size: 4em;*/
/*}*/
/*#titre h3{*/
/*   display: none;*/
/*}*/
/*.profil{*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*}*/
/*.round{*/
/*    width: 70px;*/
/*}*/
/*#blockButton{*/
/*    height: 100%;*/
/*}*/
/*    #blockButton h3{*/
/*    font-size: 1.2em;*/
/*}*/
/*#mainButton {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.button{*/
/*    width: 100%;*/
/*    height: 200px;*/

/*}*/
/*.partie-pres{*/
/*height: 100%;*/
/*}*/

/*#presentation{*/
/*    margin: 0px;*/
/*    box-shadow: none;*/
/*    display: flex;*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*}*/
/*#presentation h2{*/
/*    font-size: 35px;*/
/*}*/
/*#textePrez{*/
/*    height: 100%;*/
/*}*/
/*#textePrez h3{*/
/*    font-size: 1em;*/
/*}*/
/*#textePrez p{*/
/*    font-size: 15px;*/
/*}*/

/*#blockAbonnement{*/
/*    margin-top: 50px;*/
/*      height: 100%;*/
/*}*/
/*#listeAbonnement{*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*}*/
/*#abo{*/
/*    width: 100%;*/
/*}*/
/*#abo h3{*/
/*    font-size: 1.5em;*/
/*}*/
/*.texte ul li{*/
/*    font-size: 0.9em;*/
/*}*/
/*    .abonnementPanier button{*/
/*        font-size: 1em;*/
/*    }*/
/*    #blockAbonnement h2{*/
/*        font-size: 1.7em;*/
/*    }*/
/*.card{*/
/*    display: none;*/
/*}*/
